body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size:45px;
}
.name{
    color:orange;
}
.flexible-container{
    display: flex;
}
.head{
    width:50%;
    padding-left:80px;
}
.img{
    width:40%;
}
.img img{
    width:80%;
}
.head p{
    font-size:20px;
}
.hireme a{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 40px;
    font-weight: 700;
    border-radius:5px;
    color:white;
}
.top{
    background-image: url(images/top-banner.png);
    background-image: no-repeat;
    background-size: cover;
}
.second-img{
    width:30%;
    padding-left:50px;
}
.second-img img{
    width:100%;
}
.second-head{
    width:50%;
    padding-left: 100px;
}
.second{
    margin-top:150px;
}
.resume a{
    text-decoration: none;
    background-image: linear-gradient(black,orange);
    padding:10px 50px;
    color:white;
    border-radius: 5px;
}
.second-head p{
    color:red;
    font-size:20px;
}
.second{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.parent{
    display: flex;
}
.left-sight{
    width:40%;
    margin-left:70px;
    padding:30px;
    height:300px;
    box-shadow:10px 10px 40px grey;
    border-left: 8px solid red;
}
.right-sight{
    width:40%;
    margin-left:70px;
    padding:30px;
    box-shadow:10px 10px 40px grey;
    border-left: 7px solid;
    border-image: linear-gradient(blue,orange);
    border-image-slice: 1;
}
.left-sight p{
    text-align: justify;
    font-size: 20px;
    color: palevioletred;
}
.right-sight p{
    text-align: justify;
    font-size: 20px;
}
.left-sight h1{
    margin:0;
}
.right-sight h1{
    margin:0;
}
.left-sight h3{
    color:orange;
}
.right-sight h3{
    color:orange
}
.last-secion{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}